/* @font-face {
  font-family: 'Gobold';
  src: local('Gobold'), url('/src/fonts/Gobold.otf'), format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Futura';
  src: local('Futura'), url('/src/fonts/Futura.ttc'), format('truetype');
  font-weight: normal;
} */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Futura';
  text-decoration: none;
  color: black;
  text-align: justify;
}

:root {
  --NavBarWidth: 250px;
  --pageColor: magenta;
}
img {
  display: block;
}

h2 {
  color: var(--pageColor);
}

.App {
  position: relative;
  //overflow: hidden;
  height: 100vh;
  width: 100%;
  //background-color: green;
  //background-image: url('/src/img/Motif\ 23.jpg');
  //background-image: url('/src/img/fish.png');
  background-size: 50%;
}

.CV {
  position: relative;
  top: 0;
}

.Page {
  top: 0;
  left: 0;
  position: absolute;

  //overflow-x: hidden;

  //display: grid;

  justify-items: end;

  width: 100%;

  //height: 100%;

  z-index: 4;

  //border: red;

  background-color: yellow;
  //background-color: white;

  .pageTitle {
    color: var(--pageColor);
    font-size: 150px;
    //border: green 1px solid;
    font-family: 'Gobold';

    text-align: right;
    text-transform: uppercase;
  }

  .pageImage {
    height: 100%;
    width: 100%;

    justify-self: end;
    grid-row: 1 / 3;

    z-index: -1;
    background-image: url('/src/img/MAIRIE\ FRESNES.jpg');
    background-image: url('/src/img/Motif\ 23.jpg');
    //background-size: contain;
    background-attachment: fixed;
  }
  .pageText {
    h2 {
      font-family: Futura;
      color: var(--pageColor);
    }
    position: relative;

    font-size: 15px;
    font-family: Futura;

    align-self: start;

    text-align: justify;

    place-self: center;

    //right: 50%;

    //margin: 0 50%;
    //border: 1px black solid;
    width: 300px;
    //text-align: right;
  }
}

.content {
  //position: relative;
  margin-left: auto;

  //display: grid;

  width: calc(100% - var(--NavBarWidth));

  font-family: Futura;

  //height: 2000px;

  //border: pink 10px solid;
}

.ImageAndText {
  display: flex;

  justify-content: center;
  gap: 50px;

  padding: 5%;

  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;

  //border: violet 1px solid;

  img {
    display: block;

    max-height: 100%;

    //min-width: 0;
  }

  .legende {
    width: 20%;
    min-width: 200px;
    place-self: center;
  }
}

.hero {
  //position: relative;
  margin-left: auto;

  right: 0;

  height: 100vh;
  width: calc(100% - var(--NavBarWidth));
  //width: 50px;

  display: grid;

  z-index: 4;

  //border: 1px solid orange;

  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: min-content;
}

.blank {
  width: 100%;
  height: 100vh;
}

.NavBar {
  display: grid;
  position: fixed;

  //opacity: 0.5;

  //background: white;

  //opacity: 0.5;

  //background: white;

  //flex-direction: column;

  z-index: 10;

  width: var(--NavBarWidth);
  height: 100vh;

  h1 {
    font-size: 20px;
  }
}
.navItems {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.NavItem {
  margin: 8px 0;
  padding-left: 10px;
  width: 100%;
  text-transform: uppercase;

  //border: red 1px solid;

  font-size: 20px;

  text-indent: 0;
  transition: 0.5s;

  &.active {
    text-decoration: none;
    //text-indent: 50px;
    color: var(--pageColor);
  }
}

.my-node-enter {
  transform: translate(-100%);
}

.my-node-enter-active {
  transform: translate(0%);

  transition: transform 200ms;
}
.my-node-exit {
  transform: translate(0%);
}
.my-node-exit-active {
  transform: translate(-100%);
  transition: transform 200ms;
}
