.my-node-enter {
  transform: translate(-100%);
}

.my-node-enter-active {
  transform: translate(0%);

  transition: transform 200ms;
}
.my-node-exit {
  transform: translate(0%);
}
.my-node-exit-active {
  transform: translate(-100%);
  transition: transform 200ms;
}

.Page {
  top: 0;
  left: 0;
  position: absolute;

  //overflow-x: hidden;

  //display: grid;

  justify-items: end;

  width: 100%;

  //height: 100%;

  z-index: 4;

  //border: red;

  //background-color: yellow;
  backdrop-filter: blur(20px);
  //background-color: white;
}

.hero {
  margin-left: auto;

  height: 100vh;
  width: calc(100% - var(--NavBarWidth));

  display: grid;

  z-index: 4;

  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: min-content;

  /* border: pink solid 1px; */
}

.pageImage {
  height: 100%;
  width: 100%;

  grid-row: 1 / 3;

  z-index: -1;

  background-image: url('./img/frise.jpg');
  background-size: 20%;

  background-attachment: fixed;
}

.pageTitle {
  color: var(--pageColor);
  font-size: 150px;
  //border: green 1px solid;
  font-family: 'Gobold';

  text-align: right;
  text-transform: uppercase;
  justify-self: end;
}

.pageText {
  h2 {
    font-family: Futura;
    color: var(--pageColor);
  }
  position: relative;

  font-size: 15px;
  font-family: Futura;

  text-align: justify;

  place-self: center;

  //right: 50%;

  //margin: 0 50%;
  //border: 1px black solid;
  width: 300px;
  //text-align: right;
}
