* {
  margin: 0;
  /*   margin-block-start: 0;
  margin-inline-end: 0;
  margin-block-end: 0;
  margin-inline-start: 0; */
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Futura';
  text-decoration: none;
  color: black;
  text-align: justify;
}

img {
  display: block;
}

:root {
  --NavBarWidth: 250px;
  --pageColor: magenta;
  overflow-y: scroll;
}

h2 {
  color: var(--pageColor);
}

.App {
  position: relative;
  height: 100vh;
  width: 80%;
  background: url(../src/img/bg.jpg);
  background-size: 25%;
}

.Contact {
  position: fixed;
  right: 0;
  margin-left: auto;
  width: 20%;
  height: 100vh;
  padding: 1%;
}

.contact-container {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  padding: 3%;
}

.contact-name,
.contact-message,
.contact-email {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid black;
  padding-left: 3%;
}

.content {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - var(--NavBarWidth));
  max-height: 100vh;
  font-family: Futura;
}

.ImageAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding: 5%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.ImageAndText img {
  display: block;
  max-width: 50%;
  height: auto;
  max-height: 100%;
}

.ImageAndText .legende {
  width: 20%;
  min-width: 200px;
  place-self: center;
}

.SingleImage {
  height: 100vh;
}

.Text {
  max-width: 15%;
  margin: 0 auto;
}

.CV {
  position: relative;
  top: 0;
}

.NavBar {
  display: -ms-grid;
  display: grid;
  position: fixed;
  background: white;
  z-index: 10;
  width: var(--NavBarWidth);
  height: 100vh;
}

.NavBar h1 {
  font-size: 20px;
}

.navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.NavItem {
  margin: 8px 0;
  padding-left: 10px;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  text-indent: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.NavItem.active {
  text-decoration: none;
  color: var(--pageColor);
}

.my-node-enter {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.my-node-enter-active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.my-node-exit {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.my-node-exit-active {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.Page {
  top: 0;
  left: 0;
  position: absolute;
  justify-items: end;
  width: 100%;
  z-index: 4;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.hero {
  margin-left: auto;
  height: 100vh;
  width: calc(100% - var(--NavBarWidth));
  display: -ms-grid;
  display: grid;
  z-index: 4;
  -ms-grid-columns: 0.75fr 1fr;
      grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  /* border: pink solid 1px; */
}

.pageImage {
  height: 100%;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  z-index: -1;
  background-image: url("./img/frise.jpg");
  background-size: 20%;
  background-attachment: fixed;
}

.pageTitle {
  color: var(--pageColor);
  font-size: 150px;
  font-family: 'Gobold';
  text-align: right;
  text-transform: uppercase;
  -ms-grid-column-align: end;
      justify-self: end;
}

.pageText {
  position: relative;
  font-size: 15px;
  font-family: Futura;
  text-align: justify;
  place-self: center;
  width: 300px;
}

.pageText h2 {
  font-family: Futura;
  color: var(--pageColor);
}

.blank {
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=app.css.map */